/* CONFIGURACIÓN GENERAL */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    color: #333333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


/* ENCABEZADO */

header {
    background-color: #0077cc;
    color: white;
    padding: 30px 10%;
}

.encabezado {
    max-width: 1100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 35px;
}

header p {
    margin-top: 8px;
    font-size: 18px;
}

.icono {
    font-size: 70px;
}


/* SECCIONES */

section {
    max-width: 1100px;
    margin: 30px auto;
    padding: 35px;

    background-color: white;

    border-radius: 12px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

section h2 {
    color: #0077cc;
    font-size: 28px;

    border-bottom: 3px solid #0077cc;

    padding-bottom: 8px;
}

section h3 {
    color: #005b99;
}

section p {
    font-size: 17px;
}


/* PRESENTACIÓN */

.presentacion {
    text-align: center;
}

.presentacion h2 {
    border-bottom: none;
}


/* IMÁGENES */

img {
    width: 100%;
    max-width: 900px;

    display: block;

    margin: 25px auto;

    border-radius: 10px;
}

.pie-imagen {
    text-align: center;
    font-size: 14px;
    color: #666666;
}


/* LISTAS */

li {
    margin-bottom: 10px;
}


/* TABLA */

table {
    width: 100%;
    border-collapse: collapse;

    margin-top: 25px;
}

th,
td {
    border: 1px solid #dddddd;

    padding: 14px;

    text-align: left;
}

th {
    background-color: #0077cc;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* TARJETAS */

.columnas {
    display: flex;
    gap: 25px;
}

.tarjeta {
    flex: 1;

    padding: 25px;

    background-color: #f5f9fc;

    border-left: 5px solid #0077cc;

    border-radius: 8px;
}

.tarjeta h3 {
    font-size: 24px;
}


/* FOOTER */

footer {
    margin-top: 50px;

    padding: 30px;

    background-color: #333333;

    color: white;

    text-align: center;
}


/* RESPONSIVE */

@media (max-width: 700px) {

    .encabezado {
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        font-size: 28px;
    }

    .icono {
        font-size: 50px;
        margin-top: 15px;
    }

    section {
        margin: 20px 10px;
        padding: 20px;
    }

    .columnas {
        flex-direction: column;
    }

    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 8px;
    }
}
